{{> basics-display(displayClass: "display-1", displayText: "Display 1")}}
{{> basics-display(displayClass: "display-2", displayText: "Display 2")}}
{{> basics-display(displayClass: "display-3", displayText: "Display 3")}}
{{> basics-display(displayClass: "display-4", displayText: "Display 4")}}
