{{> basics-button(btnText: "Primary", btnClass: "btn-primary btn-lg") }}
{{> basics-button(btnText: "Secondary", btnClass: "btn-secondary btn-lg") }}
{{> basics-button(btnText: "Success", btnClass: "btn-success btn-lg") }}
{{> basics-button(btnText: "Info", btnClass: "btn-info btn-lg") }}
{{> basics-button(btnText: "Warning", btnClass: "btn-warning btn-lg") }}
{{> basics-button(btnText: "Danger", btnClass: "btn-danger btn-lg") }}
