// Variables
//
// Copy settings from this file into the provided `_custom.scss` to override
// the Bootstrap defaults without modifying key, versioned files.


// Table of Contents
//
// Colors
// Options
// Spacing
// Body
// Links
// Grid breakpoints
// Grid containers
// Grid columns
// Fonts
// Components


// General variable structure
//
// Variable format should follow the `$component-modifier-state-property` order.

// PatternFly box shadows
// TODO: See what kind of shadows we need and define standards
$pf-box-shadow: 0 .1em .2em rgba($color-pf-black-1000, 0.1);

$pf-box-shadow-inset-sm: inset 0 .3em .3em rgba($color-pf-black-1000, 0.2);
$pf-box-shadow-inset-md: inset 0 .3em .6em rgba($color-pf-black-1000, 0.2);
$pf-box-shadow-inset-lg: inset 0 .3em .9em rgba($color-pf-black-1000, 0.2);


// Patternfly Gradient
// TODO: Define standard gradient for patternfly
$pf-gradient-color-start: $color-pf-black-100;
$pf-gradient-color-end: $color-pf-black-200;
$pf-gradient-percent-start: 0%;
$pf-gradient-percent-end: 100%;


// Patternfly font path
// Defines path to /font foldeer
$fa-font-path: "../fonts";
$pf-font-path: "../fonts";
// $pf-icon-font-name-fa:  "FontAwesome" !default;
$pf-icon-font-name:  "PatternFlyIcons-webfont";
$pf-icon-prefix:  pficon;

$pficon-var-add-circle-o:                                           "\e61b";
$pficon-var-middleware:                                             "\e917";
$pficon-var-blueprint:                                              "\e915";
$pficon-var-build:                                                  "\e902";
$pficon-var-builder-image:                                          "\e800";
$pficon-var-bundle:                                                 "\e918";
$pficon-var-close:                                                  "\e60b";
$pficon-var-cloud-security:                                         "\e903";
$pficon-var-cloud-tenant:                                           "\e904";
$pficon-var-cluster:                                                "\e620";
$pficon-var-container-node:                                         "\e621";
$pficon-var-cpu:                                                    "\e905";
$pficon-var-delete:                                                 "\e611";
$pficon-var-domain:                                                 "\e919";
$pficon-var-edit:                                                   "\e60a";
$pficon-var-enterprise:                                             "\e906";
$pficon-var-error-circle-o:                                         "\e61d";
$pficon-var-export:                                                 "\e616";
$pficon-var-flag:                                                   "\e603";
$pficon-var-flavor:                                                 "\e907";
$pficon-var-folder-close:                                           "\e607";
$pficon-var-folder-open:                                            "\e606";
$pficon-var-help:                                                   "\e605";
$pficon-var-history:                                                "\e617";
$pficon-var-home:                                                   "\e618";
$pficon-var-image:                                                  "\e61f";
$pficon-var-import:                                                 "\e615";
$pficon-var-info:                                                   "\e604";
$pficon-var-kubernetes:                                             "\e627";
$pficon-var-memory:                                                 "\e908";
$pficon-var-network:                                                "\e909";
$pficon-var-ok:                                                     "\e602";
$pficon-var-openshift:                                              "\e626";
$pficon-var-private:                                                "\e914";
$pficon-var-print:                                                  "\e612";
$pficon-var-project:                                                "\e622";
$pficon-var-regions:                                                "\e90a";
$pficon-var-registry:                                               "\e623";
$pficon-var-replicator:                                             "\e624";
$pficon-var-repository:                                             "\e90b";
$pficon-var-resource-pool:                                          "\e90c";
$pficon-var-resources-almost-full:                                  "\e912";
$pficon-var-resources-full:                                         "\e913";
$pficon-var-restart:                                                "\e613";
$pficon-var-route:                                                  "\e625";
$pficon-var-running:                                                "\e614";
$pficon-var-save:                                                   "\e601";
$pficon-var-screen:                                                 "\e600";
$pficon-var-server:                                                 "\e90d";
$pficon-var-server-group:                                           "\e91a";
$pficon-var-service:                                                "\e61e";
$pficon-var-settings:                                               "\e610";
$pficon-var-storage-domain:                                         "\e90e";
$pficon-var-tenant:                                                 "\e916";
$pficon-var-thumb-tack-o:                                           "\e609";
$pficon-var-topology:                                               "\e608";
$pficon-var-trend-down:                                             "\e900";
$pficon-var-trend-up:                                               "\e901";
$pficon-var-user:                                                   "\e60e";
$pficon-var-users:                                                  "\e60f";
$pficon-var-virtual-machine:                                        "\e90f";
$pficon-var-volume:                                                 "\e910";
$pficon-var-warning-triangle-o:                                     "\e61c";
$pficon-var-zone:                                                   "\e911";

// Colors
//
// Grayscale and brand colors for use across Bootstrap.

$gray-dark:                 $color-pf-black-1000;
$gray:                      $color-pf-black-700;
$gray-light:                $color-pf-black-500;
$gray-lighter:              $color-pf-black-300;
$gray-lightest:             $color-pf-black-100;

$brand-primary:             $color-pf-blue-400;
$brand-success:             $color-pf-green-400;
$brand-info:                $color-pf-blue-500;
$brand-warning:             $color-pf-orange-400;
$brand-danger:              $color-pf-red-100;
// $brand-inverse:             $gray-dark;

// Hover colors
// Colors for hovered elements
$pf-bg-hover-color: $color-pf-blue-50;
$pf-border-hover-color: $color-pf-blue-200;

// Font weight
//

$pf-font-weight-bold:   600;
$pf-font-weight-normal: 400;
$pf-font-weight-light:  200;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-flex:               true;
$enable-rounded:            false;
$enable-shadows:            true;
// $enable-gradients:          true;
// $enable-transitions:        false !default;
// ? $enable-hover-media-query:  false !default;
// ? $enable-grid-classes:       true !default;
// $enable-print-styles:       true !default;



// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer:   1rem;
$pf-spacer-xxxs:   ($spacer * .25);   // ~3px
$pf-spacer-xxs:    ($spacer * .5);    // 7px
$pf-spacer-xs:     ($spacer * .75);   // ~10px
$pf-spacer-sm:     $spacer;           // 14px
$pf-spacer-md:     ($spacer * 1.25);  // ~17px
$pf-spacer-lg:     ($spacer * 1.5);   // 21px
$pf-spacer-xl:     ($spacer * 1.75);  // ~24px
$pf-spacer-xxl:    ($spacer * 2);     // 28 px
$pf-spacer-xxxl:   ($spacer * 2.5);   // 35 px
$pf-spacer-xxxxl:  ($spacer * 3);     // 42 px

$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x,
    y: $spacer-y
  ),
  2: (
    x: ($spacer-x * 1.5),
    y: ($spacer-y * 1.5)
  ),
  3: (
    x: ($spacer-x * 3),
    y: ($spacer-y * 3)
  ),
  pf-xxxs: (
    x: $pf-spacer-xxxs,
    y: $pf-spacer-xxxs
  ),
  pf-xxs: (
    x: $pf-spacer-xxs,
    y: $pf-spacer-xxs
  ),
  pf-xs: (
    x: $pf-spacer-xs,
    y: $pf-spacer-xs
  ),
  pf-sm: (
    x: $pf-spacer-sm,
    y: $pf-spacer-sm
  ),
  pf-md: (
    x: $pf-spacer-md,
    y: $pf-spacer-md
  ),
  pf-lg: (
    x: $pf-spacer-lg,
    y: $pf-spacer-lg
  ),
  pf-xl: (
    x: $pf-spacer-xl,
    y: $pf-spacer-xl
  ),
  pf-xxl: (
    x: $pf-spacer-xxl,
    y: $pf-spacer-xxl
  ),
  pf-xxxl: (
    x: $pf-spacer-xxxl,
    y: $pf-spacer-xxxl
  ),
  pf-xxxxl: (
    x: $pf-spacer-xxxxl,
    y: $pf-spacer-xxxxl
  )
);
$border-width: 1px;


// Typography
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: “Overpass”, Overpass, “Open Sans”, Helvetica, sans-serif;


// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 14px;

$font-size-h1: 2rem; // ~24px
$font-size-h2: 1.8333rem; // ~22px
$font-size-h3: 1.3333rem; // ~16px
$font-size-h4: 1.2rem;
$font-size-h5: 1.0833rem; // ~13px

// Use relative font sizes when font size should vary with the parent
$font-size-relative-base: 1em !default;
$font-size-relative-lg:   1.25em !default;
$font-size-relative-sm:   .875em !default;
$font-size-relative-xs:   .75em !default;

$line-height-base: 1.66666667;

$headings-font-weight: $pf-font-weight-bold;


// Overwrites default border radius
//
// $border-radius: 1px;
// $border-radius-lg: $border-radius;
// $border-radius-sm: $border-radius;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

// $table-cell-padding:            .7rem !default;
// $table-sm-cell-padding:         .3rem !default;


// $table-bg:                      transparent !default;
$table-bg-accent:               $color-pf-black-150;
$table-bg-hover:                $pf-bg-hover-color;
$pf-table-border-hover:         $pf-border-hover-color;
$table-bg-active:               $table-bg-hover;

// $table-border-width:            $border-width !default;
$table-border-color:            $color-pf-black-300;



// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.

// $btn-padding-x:                  .7rem !default;
// $btn-padding-y:                  .3rem !default;
// $btn-line-height:                1.25 !default;
$btn-font-weight:                normal !default;
$btn-box-shadow:                 inset 0 1px 0 rgba($color-pf-white, .15), $pf-box-shadow;
$btn-active-box-shadow:          $pf-box-shadow-inset-lg;


$btn-primary-start-bg:           $color-pf-blue-300;
$btn-primary-end-bg:             $brand-primary;
$btn-primary-border:             $color-pf-blue-500;

$btn-secondary-start-bg:         $pf-gradient-color-start;
$btn-secondary-end-bg:           $pf-gradient-color-end;
$btn-secondary-border:           $color-pf-black-400;

$btn-info-start-bg:              $color-pf-blue-400;
$btn-info-end-bg:                $brand-info;
$btn-info-border:                $color-pf-blue-600;

$btn-success-start-bg:           $color-pf-green-300;
$btn-success-end-bg:             $brand-success;
$btn-success-border:             $color-pf-green-500;

$btn-warning-start-bg:           $color-pf-orange-300;
$btn-warning-end-bg:             $brand-warning;
$btn-warning-border:             $color-pf-orange-500;

$btn-danger-start-bg:            $color-pf-red-100;
$btn-danger-end-bg:              $color-pf-red-200;
$btn-danger-border:              $color-pf-red-300;

$btn-link-disabled-color:        $gray-light !default;

// $btn-padding-x-sm:               .5rem !default;
// $btn-padding-y-sm:               .25rem !default;

// $btn-padding-x-lg:               1.5rem !default;
// $btn-padding-y-lg:               .75rem !default;

// $btn-block-spacing-y:            .5rem !default;
// $btn-toolbar-margin:             .5rem !default;

// Allows for customizing button radius independently from global border radius
// $btn-border-radius:              $border-radius;
// $btn-border-radius-lg:           $border-radius-lg;
// $btn-border-radius-sm:           $border-radius-sm;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-min-width:             $pf-spacer-xxxxl;
$dropdown-padding-y:             $pf-spacer-xxs;
$dropdown-margin-top:            0rem;
$dropdown-bg:                    $color-pf-white;
$dropdown-border-color:          $color-pf-black-300;
$dropdown-border-width:          $border-width;
$dropdown-divider-bg:            $color-pf-black-200;
$dropdown-box-shadow:            $pf-box-shadow;

$dropdown-link-color:            $gray-dark;
$dropdown-link-hover-color:      $gray-dark;
$dropdown-link-hover-bg:         $pf-bg-hover-color;

$dropdown-link-active-color:     $color-pf-white;
$dropdown-link-active-bg:        $brand-primary;

$dropdown-link-disabled-color:   $gray-light;

$dropdown-item-padding-x:        $pf-spacer-lg;

$dropdown-header-color:          $gray-light;


// TODO: Check updates in alpha 5 when its avaliable, since the units
// changed from px to rems


// Breadcrumbs

// $breadcrumb-padding-y:          .75rem !default;
$breadcrumb-padding-x:          0rem;
// $breadcrumb-item-padding:       .5rem;

$breadcrumb-bg:                 $color-pf-white;
$breadcrumb-divider-color:      $color-pf-black-500;
$breadcrumb-active-color:       $color-pf-black-700;
$breadcrumb-divider:            "»";


// Cards
// $card-spacer-x:            1.25rem !default;
// $card-spacer-y:            .75rem !default;
$card-border-width:        1px;
$card-border-color:        $color-pf-black-300;
$card-cap-bg:              $color-pf-black-150;

$pf-card-border-color:     $color-pf-black-300;
$pf-card-cap-bg:           $color-pf-white;
$pf-card-footer-bg:        $color-pf-black-100;


//$card-bg:                  $color-pf-white;

//$card-link-hover-color:    #fff !default;

$card-img-overlay-padding: 1.25rem !default;

$card-deck-margin:         .625rem !default;

$card-columns-sm-up-column-gap: 1.25rem !default;


// Pagination


$pagination-padding-x:                $pf-spacer-xs;
$pagination-padding-y:                $pf-spacer-xxs;
$pagination-padding-x-sm:             $pf-spacer-xs;
$pagination-padding-y-sm:             $pf-spacer-xxxs;
$pagination-padding-x-lg:             $pf-spacer-lg;
$pagination-padding-y-lg:             $pf-spacer-xs;


$pagination-color:                     $color-pf-black-700;
// $pagination-bg:                        #fff !default;
// $pagination-border-width:              $border-width !default;
$pagination-border-color:              $btn-secondary-border;

$pagination-hover-color:               $pagination-color;
$pagination-hover-bg:                  $pf-gradient-color-end;
$pagination-hover-border:              $pagination-border-color;

$pagination-active-color:              $pagination-color;
$pagination-active-bg:                 $pagination-hover-bg;
$pagination-active-border:             $btn-secondary-border !default;

// $pagination-disabled-color:            $gray-light !default;
// $pagination-disabled-bg:               #fff !default;
$pagination-disabled-border:           $color-pf-black-300;

// Tags

// $tag-default-bg:            $gray-light !default;
// $tag-primary-bg:            $brand-primary !default;
// $tag-success-bg:            $brand-success !default;
// $tag-info-bg:               $brand-info !default;
// $tag-warning-bg:            $brand-warning !default;
// $tag-danger-bg:             $brand-danger !default;

// $tag-color:                 #fff !default;
// $tag-link-hover-color:      #fff !default;
$tag-font-size:             $font-size-relative-base;
$tag-font-weight:           $pf-font-weight-bold;
// $tag-padding-x:             .4em !default;
// $tag-padding-y:             .25em !default;

// $tag-pill-padding-x:        .6em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
// $tag-pill-border-radius:    10rem !default;
