//
// Icons
// --------------------------------------------------
// Custom icons and selections from IcoMoon - Free (http://icomoon.io/#icons)

@font-face {
  font-family: "#{$pf-icon-font-name}";
  src:url("#{$pf-font-path}/#{$pf-icon-font-name}.eot");
  src:url("#{$pf-font-path}/#{$pf-icon-font-name}.eot?#iefix") format("embedded-opentype"),
    url("#{$pf-font-path}/#{$pf-icon-font-name}.ttf") format("truetype"),
    url("#{$pf-font-path}/#{$pf-icon-font-name}.woff") format("woff"),
    url("#{$pf-font-path}/#{$pf-icon-font-name}.svg##{$pf-icon-font-name}") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="#{$pf-icon-prefix}-"],
[class*=" #{$pf-icon-prefix}-"] {
  display: inline-block;
  font-family: "#{$pf-icon-font-name}";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  /* Better Font Rendering =========== */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.#{$pf-icon-prefix}-middleware:before {
  content: $pficon-var-middleware;
}
.#{$pf-icon-prefix}-add-circle-o:before {
  content: $pficon-var-add-circle-o;
}
.#{$pf-icon-prefix}-build:before {
  content: $pficon-var-build;
}
.#{$pf-icon-prefix}-builder-image:before {
  content: $pficon-var-builder-image;
}
.#{$pf-icon-prefix}-bundle:before {
  content: $pficon-var-bundle;
}
.#{$pf-icon-prefix}-blueprint:before {
  content: $pficon-var-blueprint;
}
.#{$pf-icon-prefix}-close:before {
  content: $pficon-var-close;
}
.#{$pf-icon-prefix}-cloud-security:before {
  content: $pficon-var-cloud-security;
}
.#{$pf-icon-prefix}-cloud-tenant:before {
  content: $pficon-var-cloud-tenant;
}
.#{$pf-icon-prefix}-cluster:before {
  content: $pficon-var-cluster;
}
.#{$pf-icon-prefix}-container-node:before {
  content: $pficon-var-container-node;
}
.#{$pf-icon-prefix}-cpu:before {
  content: $pficon-var-cpu;
}
.#{$pf-icon-prefix}-delete:before {
  content: $pficon-var-delete;
}
.#{$pf-icon-prefix}-domain:before {
  content: $pficon-var-domain;
}
.#{$pf-icon-prefix}-edit:before {
  content: $pficon-var-edit;
}
.#{$pf-icon-prefix}-enterprise:before {
  content: $pficon-var-enterprise;
}
.#{$pf-icon-prefix}-error-circle-o:before {
  color: $brand-danger;
  content: $pficon-var-error-circle-o;
}
.#{$pf-icon-prefix}-export:before {
  content: $pficon-var-export;
}
.#{$pf-icon-prefix}-flag:before,
.#{$pf-icon-prefix}-messages:before { // class name deprecated
  content: $pficon-var-flag;
}
.#{$pf-icon-prefix}-flavor:before {
  content: $pficon-var-flavor;
}
.#{$pf-icon-prefix}-folder-close:before {
  content: $pficon-var-folder-close;
}
.#{$pf-icon-prefix}-folder-open:before {
  content: $pficon-var-folder-open;
}
.#{$pf-icon-prefix}-help:before {
  content: $pficon-var-help;
}
.#{$pf-icon-prefix}-history:before {
  content: $pficon-var-history;
}
.#{$pf-icon-prefix}-home:before {
  content: $pficon-var-home;
}
.#{$pf-icon-prefix}-image:before {
  content: $pficon-var-image;
}
.#{$pf-icon-prefix}-import:before {
  content: $pficon-var-import;
}
.#{$pf-icon-prefix}-info:before {
  content: $pficon-var-info;
}
.#{$pf-icon-prefix}-memory:before {
  content: $pficon-var-memory;
}
.#{$pf-icon-prefix}-network:before {
  content: $pficon-var-network;
}
.#{$pf-icon-prefix}-ok:before {
  color: $brand-success;
  content: $pficon-var-ok;
}
.#{$pf-icon-prefix}-print:before {
  content: $pficon-var-print;
}
.#{$pf-icon-prefix}-private:before {
  content: $pficon-var-private;
}
.#{$pf-icon-prefix}-project:before {
  content: $pficon-var-project;
}
.#{$pf-icon-prefix}-refresh:before, // class name deprecated
.#{$pf-icon-prefix}-restart:before {
  content: $pficon-var-restart;
}
.#{$pf-icon-prefix}-regions:before {
  content: $pficon-var-regions;
}
.#{$pf-icon-prefix}-registry:before {
  content: $pficon-var-registry;
}
.#{$pf-icon-prefix}-replicator:before {
  content: $pficon-var-replicator;
}
.#{$pf-icon-prefix}-repository:before {
  content: $pficon-var-repository;
}
.#{$pf-icon-prefix}-resource-pool:before {
  content: $pficon-var-resource-pool;
}
.#{$pf-icon-prefix}-resources-almost-full:before {
  content: $pficon-var-resources-almost-full;
}
.#{$pf-icon-prefix}-resources-full:before {
  content: $pficon-var-resources-full;
}
.#{$pf-icon-prefix}-route:before {
  content: $pficon-var-route;
}
.#{$pf-icon-prefix}-running:before {
  content: $pficon-var-running;
}
.#{$pf-icon-prefix}-save:before {
  content: $pficon-var-save;
}
.#{$pf-icon-prefix}-screen:before {
  content: $pficon-var-screen;
}
.#{$pf-icon-prefix}-server:before {
  content: $pficon-var-server;
}
.#{$pf-icon-prefix}-server-group:before {
  content: $pficon-var-server-group;
}
.#{$pf-icon-prefix}-service:before {
  content: $pficon-var-service;
}
.#{$pf-icon-prefix}-settings:before {
  content: $pficon-var-settings;
}
.#{$pf-icon-prefix}-storage-domain:before {
  content: $pficon-var-storage-domain;
}
.#{$pf-icon-prefix}-tenant:before {
  content: $pficon-var-tenant;
}
.#{$pf-icon-prefix}-thumb-tack-o:before {
  content: $pficon-var-thumb-tack-o;
}
.#{$pf-icon-prefix}-topology:before {
  content: $pficon-var-topology;
}
.#{$pf-icon-prefix}-trend-down:before {
  content: $pficon-var-trend-down;
}
.#{$pf-icon-prefix}-trend-up:before {
  content: $pficon-var-trend-up;
}
.#{$pf-icon-prefix}-user:before {
  content: $pficon-var-user;
}
.#{$pf-icon-prefix}-users:before {
  content: $pficon-var-users;
}
.#{$pf-icon-prefix}-virtual-machine:before {
  content: $pficon-var-virtual-machine;
}
.#{$pf-icon-prefix}-volume:before {
  content: $pficon-var-volume;
}
.#{$pf-icon-prefix}-warning-triangle-o:before {
  color: $brand-warning;
  content: $pficon-var-warning-triangle-o;
}
.#{$pf-icon-prefix}-zone:before {
  content: $pficon-var-zone;
}
// Display icon at large or medium size
.pf-icon--lg {
  font-size: $icon-size-lg;
}
.pf-icon--md {
  font-size: $icon-size-md;
}
// Display circle around the icon
// width/height value should be 4px (i.e. 2 x border-width) greater than
// line-height value to accommodate 2px border on each side
.pf-icon--circle {
  width: calc(2em + 4px);
  height: calc(2em + 4px);
  line-height: 2em;
  text-align: center;
  border: 2px solid $color-pf-blue-300;
  border-radius: 50%;
}
