<ul class="list-inline">
  {{#each listitems.five }}
    <li class="list-inline-item" style="border: 1px solid gray; padding: .25em;">
      {{> basics-tag tagText="this.name.first" tagClass="tag-info" tagDismissable="true" }}
    </li>
  {{/each }}
</ul>
