{{> basics-tag(tagText: "Default", tagClass: "tag-default") }}
{{> basics-tag(tagText: "Primary", tagClass: "tag-primary") }}
{{> basics-tag(tagText: "Success", tagClass: "tag-success") }}
{{> basics-tag(tagText: "Info", tagClass: "tag-info") }}
{{> basics-tag(tagText: "Warning", tagClass: "tag-warning") }}
{{> basics-tag(tagText: "Danger", tagClass: "tag-danger") }}
