<h1>Example heading {{> basics-tag tagText="default" tagClass="tag-default" }}</h1>
<h2>Example heading {{> basics-tag tagText="default" tagClass="tag-default" }}</h2>
<h3>Example heading {{> basics-tag tagText="default" tagClass="tag-default" }}</h3>
<h4>Example heading {{> basics-tag tagText="default" tagClass="tag-default" }}</h4>
<h5>Example heading {{> basics-tag tagText="default" tagClass="tag-default" }}</h5>
<h6>Example heading {{> basics-tag tagText="default" tagClass="tag-default" }}</h6>

{{> basics-tag tagText="primary" tagClass="tag-primary" }}
{{> basics-tag tagText="success" tagClass="tag-success" }}
{{> basics-tag tagText="info" tagClass="tag-info" }}
{{> basics-tag tagText="warning" tagClass="tag-warning" }}
{{> basics-tag tagText="danger" tagClass="tag-danger" }}
{{> basics-tag tagText="dismissable tag" tagClass="tag-info" tagDismissable="true"}}
