<body class="body">
	<div class="container">
		<nav class="navbar">...</nav>
		<div class="body-content row">
			<div class="main col-lg-4 col-sm-7 col-xs-12">
				<div class="container-fluid">
					<form class="molecule-page">
						{{> molecules-checkbox}}
						{{> molecules-radio}}
						{{> molecules-datepicker}}
						{{> molecules-dropdown}}
						<div class=clearfix></div>
					</form>
				</div>
			</div>
			
		</div><!-- end .body-content -->
		<footer>
		</footer>
	</div><!-- end .container -->
</body>