<body class="body">
	<div class="container">
		<nav class="navbar">...</nav>
		<div class="body-content clearfix">
			<div class="row">
			</div><!-- end .row -->
		</div><!-- end .body-content -->
		<footer>
		</footer>
	</div><!-- end .container -->
</body>