<div class="sidebar col-lg-2 col-sm-3 col-xs-12">
	<h3>Sidebar</h3>
	<img src="https://placehold.it/150x150/e9e9e9/000000" class="img-responsive img-circle" />
</div>
<div class="main col-lg-10 col-sm-9 col-xs-12">
	<div class="container-fluid">
		{{> organism-form}}
	</div>
</div>