{{> basics-button(btnText: "Primary", btnClass: "btn-primary") }}
{{> basics-button(btnText: "Secondary", btnClass: "btn-secondary") }}
{{> basics-button(btnText: "Success", btnClass: "btn-success") }}
{{> basics-button(btnText: "Info", btnClass: "btn-info") }}
{{> basics-button(btnText: "Warning", btnClass: "btn-warning") }}
{{> basics-button(btnText: "Danger", btnClass: "btn-danger") }}
