{{> basics-button-small(btnText: "Button")}}
{{> basics-button-small(btnText: "Primary", btnClass: "btn-primary")}}
{{> basics-button-small(btnText: "Secondary", btnClass: "btn-secondary")}}
{{> basics-button-small(btnText: "Success", btnClass: "btn-success")}}
{{> basics-button-small(btnText: "Info", btnClass: "btn-info")}}
{{> basics-button-small(btnText: "Warning", btnClass: "btn-warning")}}
{{> basics-button-small(btnText: "Danger", btnClass: "btn-danger")}}
