<ol class="breadcrumb">
  {{#each breadcrumbList}}
    <li class="breadcrumb-item"><a href="#">{{ this }}</a></li>
  {{/each}}
  <li class="breadcrumb-item active"><strong>Fourth Level:</strong> Detail about fourth level</li>
</ol>
