{{> basics-button(btnText: "Primary", btnClass: "btn-primary btn-sm") }}
{{> basics-button(btnText: "Secondary", btnClass: "btn-secondary btn-sm") }}
{{> basics-button(btnText: "Success", btnClass: "btn-success btn-sm") }}
{{> basics-button(btnText: "Info", btnClass: "btn-info btn-sm") }}
{{> basics-button(btnText: "Warning", btnClass: "btn-warning btn-sm") }}
{{> basics-button(btnText: "Danger", btnClass: "btn-danger btn-sm") }}
