<div class="form-group checkbox-group">
	<div class="checkbox-controls">
		<label>
		    Check Box
		    <input name='fooBar' type="checkbox" class="form-control"  value="true" />
		    
	    	<!--
					Razor alternative: @Html.CheckBoxFor(x => Model.fooBar, new { @class = "form-control" })
			-->
		</label>
	</div>
	<!-- 
			Razor Validation: @Html.ICONValidationMessageFor(x => x.fooBar)
		-->
</div>