<div class="form-group checkbox-group">
	<fieldset>
		<legend>Foo Bar:</legend>
		<div class="checkbox-controls">
			<label>
				@Html.CheckBoxFor(x => Model.fooBar, new { @class = "form-control" })Foo Yeah
			</label>
		</div>
		@Html.ICONValidationMessageFor(x => x.fooBar)
	</fieldset>
</div>