<div class="form-group input-group date">
	@Html.LabelFor(x => x.fooBar, "fooBar")
	@Html.TextBoxFor(x => x.fooBar, new { @class = "form-control" })
	<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
	@Html.ICONValidationMessageFor(x => x.fooBar)
</div>
