<div class="form-group select-group">
	@Html.LabelFor(x => x.fooBar, "fooBar")
   	@Html.DropDownListFor(x => x.fooBar, Model.fooBar, new { @class = "form-control chosen" })
   	@Html.ICONValidationMessageFor(x => x.fooBar)
</div>
