<div class=”form-group select-group”>
	@Html.LabelFor(x => x.fooBar, "fooBar")<br />
   	@Html.DropDownListFor(x => x.fooBar, Model.fooBar, new { @class = "form-control chosen" })<br />
   	@Html.ICONValidationMessageFor(x => x.fooBar)<br />
</div>
