<div class="form-group">
	<label>Text Box</label>
	<input class="form-control">
	<!--
		Razor Alternative: 
			@Html.LabelFor(x => x.fooBar, "Foo Bar")
			@Html.TextBoxFor(x => x.fooBar, new { @class = "form-control" })
			@Html.ICONValidationMessageFor(x => x.fooBar) 
	-->
</div>
