<div class="form-group input-group money">
	<label>
		Money Input
		<!-- 
			Razor Alternative
				@Html.LabelFor(x => x.fooBar, "Foo Bar")
		-->
	<span class="input-group-addon">$</span>
	<input name="fooBar" class="form-control form-amount" />
	<!--
		Razor Alternative
			@Html.TextBoxFor(x => x.fooBar, new { @class = "form-control form-amount" })
			@Html.ICONValidationMessageFor(x => x.fooBar)
	-->

</div>
