<body class="body">
	<div class="container">
		<nav class="navbar">
			<!-- Nav Bar -->
		</nav>
		<div class="body-content clearfix">
			<div class="row">
				{{> organism-content}}
			</div>
		</div>
		<footer>
			<!-- Footer -->
		</footer>
	</div>
</body>
